body {
    background-color: #2E3E4E;
}
h1 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.horizontal-menu {
    text-align: center;
}
.horizontal-menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #37495D;
    display: inline-block;
    border-radius: 5px;
}
.horizontal-menu ul li {
    display: inline-block;
}
.horizontal-menu ul li a {
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 5px;
}
.horizontal-menu ul li a:hover {
    background-color: #E94C39;
}
.horizontal-menu-style-2 {
    text-align: center;   
}
.horizontal-menu-style-2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #FF8151;
    display: inline-block;
}
.horizontal-menu-style-2 ul li {
    display: inline-block;
}
.horizontal-menu-style-2 ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}
.horizontal-menu-style-2 ul li a:hover {
    background-color: #424242;
}